body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, black , rgb(31, 31, 41));

}
.textricerca{
    color: white;
}

.card h2{
    font-family: 'Abril Fatface', serif;

}

header {
    color: white;
    background-image: url(background/back1.jpg);
    padding: 10px;
    text-align: center;
    font-family: 'Silkscreen', sans-serif;

}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background/space1.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}
.content {
    margin-top: 100vh;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.card {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.462) , rgb(31, 31, 41));

    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex: 1;
}

p {
    color: white;
    margin: 0;
}

.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
    

  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  

  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  


  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }